body {
    background-image: url(../images/newhope.jpg);
    background-size: 100%;
    text-align: center;
}

h1 {
    font-family: 'Star-Jedi', arial;
    font-size: 48px;
}

#wrapper {
    height: 100%;
    background-color: rgb(1, 1, 41);
    color:white;
}

#quiz-area {
    height: 98%;
}